<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Google Custom Search JSON API https://developers.google.com/custom-search/json-api/v1/overview -->
    <add key="GoogleURL" value="https://www.googleapis.com/customsearch/v1?key={GoogleAPI}&amp;cx={GoogleCSE}&amp;q={QUERY}" />
    <add key="GoogleAPI" value="AIzaSyAevR9vD0YhZczak86pw0brAVpgHt2fz2U" />
    <add key="GoogleCSE" value="006051600325449259122:o8mugezi9pz" />

    <!-- Bing Custom Search -->
    <!--  https://azure.microsoft.com/fr-fr/try/cognitive-services/-->
    <add key="BingURL" value="https://api.cognitive.microsoft.com/bingcustomsearch/v7.0/search?q={QUERY}&amp;customconfig={BingCustomConfig}" />
    <add key="BingAPI" value="328b6c913a8340f39ac850be68661656" />
    <add key="BingCustomConfig" value="9c587ce1-beba-4891-ab85-26df27555be3" />
  </appSettings>
</configuration>